<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="11033ScottLerch.EventHorizonRider" Publisher="CN=427E0D6A-DF11-4676-8850-592258173525" Version="1.1.0.9" />
  <Properties>
    <DisplayName>Event Horizon Rider</DisplayName>
    <PublisherDisplayName>Scott Lerch</PublisherDisplayName>
    <Logo>Assets\LogoStore.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="EventHorizonRider.WindowsStore.App">
      <m2:VisualElements DisplayName="Event Horizon" Square150x150Logo="Assets\LogoSquare150x150.png" Square30x30Logo="Assets\LogoSquare30x30.png" Description="Ride along the event horizon of a blackhole and avoid obstacles in this skill based game that requires fast reaction and precise timings." ForegroundText="light" BackgroundColor="#66317a">
        <m2:DefaultTile ShortName="Event Horizon Rider" DefaultSize="wide310x150Logo" Square70x70Logo="Assets\LogoSquare70x70.png" Wide310x150Logo="Assets\LogoWide310x150.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>