<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.Windows8" version="3.7.0.113-develop" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="win81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="win81" />
  <package id="SharpDX" version="2.6.3" targetFramework="win81" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="win81" />
  <package id="SharpDX.MediaFoundation" version="2.6.3" targetFramework="win81" />
  <package id="SharpDX.XAudio2" version="2.6.3" targetFramework="win81" />
</packages>