<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.iOS" version="3.5.0.1586-develop" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="monotouch10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monotouch10" />
</packages>